<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .box{
      border: 1px solid #333;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      padding: 10px;
      justify-content: space-evenly;
    }
    .item {
      width: 100px;
      height: 100px;
      border: 1px solid aqua;
      border-radius: 8px;
      background-color: seagreen;
      
    }
  </style>
</head>
<body>
  <h3>hello world</h3>
</body>
<script src="./main.js"></script>
</html>