<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .carousel {
      width: 200px;
      height: 120px;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 100px;
      margin-left: 600px;
      outline: 1px solid seagreen;
    }

    .carousel img {
      width: 200px;
      height: 120px;
      /* transition: ease 0.5s; */
    }
  </style>
</head>
<body>
</body>
<script src="./main.js"></script>
</html>